menu "Data Format"

    config JSON_MIN_TOKEN_SIZE
        int "Default minimum depth"
        range 2 50
        default 25
        help
			Default JSON minimum depth

    config DATAFORMAT_BUFFERS_INPSRAM
        depends on SPIRAM
        bool "Set buffers in SPIRAM."
        default n
        help
            Set buffers in SPIRAM, if low DRAM. 

    config DATAFORMAT_DEFAULT_DATA_SIZE
        int "Set default data size for SPIFFS."
        default 256
        help
            Default data size for field "text" (for "data" divided 2). 
                
endmenu
